extends layout.pug

block mainHeader
    .inputGroup
        input.input(type='text' placeholder='Szuakj' autocomplete='off')
        button.inputButton Szukaj

block nav
    img(src='/images/movie-svgrepo-com.svg' id='movie')
    img(src='/images/open-book-svgrepo-com.svg' id='book')

block main
    != mainContent