extends layout.pug

block append head
    script(src='/javascripts/signup.js')
    style.
        main{
            display: flex;
            flex-direction:column;
            align-content: center;
        }


block main
    section#mainSignup
        form#signupForm(method='POST' action='/signup')
            label(for='usernameUp') Nazwa użytkownika
            input(type='text' id='usernameUp' name='usernameUp')
            #errorUsername.error

            //label(for='email') email
            //input(type='text' id='email' name='email')
            //#errorEmail

            label(for='passwordUp') Hasło
            input(type='password' id='passwordUp' name='passwordUp')
            #errorPass.error

            label(for='passwordSecUp') Powtórz hasło
            input(type='password' id='passwordSecUp' name='passwordSecUp')
            #errorPassSec.error

            button(id='signup') Zatwierdź

block footer