extends layout.pug

block append head
    script(src='/javascripts/signup.js')
    style.
        main{
            display: flex;
            flex-direction:column;
            align-content: center;
        }


block main
    form(method='POST' action='/signup')
        label(for='username') username
        input(type='text' id='username' name='username')
        #errorUsername

        label(for='email') email
        input(type='text' id='email' name='email')
        #errorEmail

        label(for='password') password
        input(type='password' id='password' name='password')
        #errorPass

        label(for='passwordSec') password
        input(type='password' id='passwordSec' name='passwordSec')
        #errorPassSec

        button(id='signup') Zatwierdź

block footer