body {
    margin: 0;
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    font-family: "Comic Sans MS";
}

footer{
    width: 100%;
}
nav{
    width: 6%;
    height: 100%;
    display: flex;
    position: sticky;
    top: 10vh;
    flex-direction: column;
    overflow: auto;
}

main{
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content{
    display: flex;
    width: 24%;
    height: 390px;
    flex-direction:column;
    margin: 1.4% 0;
}
.content > img{
    width: 98%;
    height: 88%;
    border-radius: 2%;
}
.info{
    display: flex;
    flex-direction: row;
}
.desc{
    display: flex;
    height: 100%;
    width: 86%;
    flex-direction: column;
}
.title{
    font: 1.4em bold;
}
.rest{
    font: 0.9em bold;
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    width: 14%;
    height: 100%;
    align-items: center;
}
.options img{
    width: 80%;
    height: 50%;
}

header{
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}
#navButton{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
#navButton div{
    height: 100%;
    display: flex;
    align-items: center;
}
#logo{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}
#headerMain{
    width: 60%;
}
#accoutnBox{
    width: 20%;
}
header > section{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px){
    .content{
        width: 50%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(64,64,64);
        background: linear-gradient(90deg, rgba(64,64,64,1) 0%, rgba(27,32,162,1) 75%, rgba(22,26,163,1) 78%, rgba(0,5,150,1) 100%);
    }

}

@media (prefers-color-scheme: light) {
    body{
        background-color: lightblue;
    }
}

img{
    width: 4vw;
    height: 4vw;
}

.inputGroup {
    display: flex;
    align-items: center;
    width: 50%;
}

.input {
    min-height: 50px;
    padding: 0 1rem;
    width: 100%;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.inputButton {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.inputButton:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}
